.project-list
{
    display:flex;
    width:70%;
    margin:0 auto;
    padding:20px;
    flex-flow:row wrap;
/*    flex-flow: column wrap;*/
    align-content: space-between;
/*    flex-direction: column;
    flex-wrap: wrap;*/
}

.project {

    flex: 0 0 calc(100%/3);
    display:inline-block;
    width:33.33%;

}

.project-list img
{

}
.project img
{

}
.project-list::before,
.project-list::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.filter-list
{
    margin:0 auto;
    width:70%;
}

.buttons
{
}

.filter-button
{
    border:1px solid #282c34;
    padding:5px 10px 5px 10px;
    width:200px;
    border-radius:5px;
    margin:10px 5px;
    background-color:#FFFFFF;
}
.filter-button:hover
{
    transition:300ms;
    background-color:#CACACA;
}
.active
{
    background-color:#535353;
    color:#FFFFFF;
}